<div class="container">
    <!-- 
        <img class="headerimage" src="https://via.placeholder.com/150/2a2d33">
    -->

<!-- Examples:
    <div class="bottom-left">Bottom Left</div>
    <div class="top-left">Top Left</div>
    <div class="top-right">Top Right</div>
    <div class="bottom-right">Bottom Right</div>
    <div class="centered">Centered</div>
-->
    <!--
        <div class="centered">
        <a href="">
            <img src="assets/header/Masthead2.png">
        </a>
    </div>
    
    -->
    <h1>
        <span class="logo-colored-1">
            Calle 
        </span>
        <span class="logo-colored-2">
            Leppäjoki
        </span>
        <span class="logo-colored-3">
            Made
        </span> 
        <span class="logo-colored-4">
            This
        </span>
        <span class="logo-colored-5">
            .
        </span>
    </h1>

</div>