.headerimage {
    width: 100%;
    height: 200px;
}

// THIS IS FROM W3SCHOOLS
/* Container holding the image and the text */
.container {
    position: relative;
    text-align: center;
    color: white;
  }
  
  /* Bottom left text */
  .bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
  }
  
  /* Top left text */
  .top-left {
    position: absolute;
    top: 8px;
    left: 16px;
  }
  
  /* Top right text */
  .top-right {
    position: absolute;
    top: 8px;
    right: 16px;
  }
  
  /* Bottom right text */
  .bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
  }
  
  /* Centered text */
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  // TRYING OUT LEFT AND CENTERED
  .centered-left {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translate(0%, -50%);
  }

  h1 {
    font-family: 'Pacifico', cursive;
  }

  .logo-colored-1 {
    color: #846ADE;
  }

  .logo-colored-2 {
    color: #31C131;
  }

  .logo-colored-3 {
    color: #2C6ED6;
  }

  .logo-colored-4 {
    color: #FF8400;
  }

  .logo-colored-5 {
    color: #EB5398;
    font-size: xx-large;
  }

