// Keeping footer where it belongs:
// https://www.freecodecamp.org/news/how-to-keep-your-footer-where-it-belongs-59c6aa05c59c/

.page-container {
    position: relative;
    min-height: 100vh;
}

.page-content-wrap {
    padding-bottom: 100px;    /* Footer height */
}

.page-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;            /* Footer height */
}