<div class="SectionTitle">
    <h1 class="mat-display-1">About</h1>
</div>

<!-- TODO: I think we might have a few superfluous divs and classes lingering inb4 angular materials... -->
<mat-card>
<div class="AboutText">
    <div class="mat-body">
    <p>Amateur chef, homebrewer, gamedev & code gardener, not that great guitar shredder for 20+ years, and continuously failing to take time to write.</p>
    <p>Currently working on working on:</p>
        <ul>
            <li>Ossific Sound, a minimaist label for my music projects.</li>
        </ul>
    </div>
</div>
</mat-card>