.CenterText {
    
    text-align: center;
}

.ThenAlignLeft {
    width: 500px;
    display: inline-block;
    text-align: left;
}

p, ul, li, h1 {
    text-align: left;
    margin-top: 16px;
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 16px;
}

.card-style {
    margin-bottom: 8px;
}

.card-title {
    font-size: large;
    color: #CCCCCC;
    margin-left: 14px;
}

.card-date {
    font-size: small;
    color: #CCCCCC;
    margin-left: 30px;
}

mat-card {
    background-color: #3b3c3d;
}