<!-- <p>
    {{ dataSource | json }}
    <hr>
</p> -->

<div class="CenterText">
    <div class="ThenAlignLeft">
        <h1 class="mat-display-1">What's happening?</h1>
    
        <mat-card class="card-style" *ngFor="let item of dataSource">
            <span class="card-title">
                {{ item.name }}
            </span>
            <br>
            <span class="card-date">
                {{ item.date }}
            </span>
            <div [innerHTML]="item.content"></div>
        </mat-card>
    </div>
</div>

